<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TIC TAC Recursos educativos</title>
        <meta name="description" content="Página de venta de recursos educativos para todos los niveles">
        <meta name="Author" content="Verónica Montero">
        <meta name="keywords" content="Recursos educativos, LOMLE, educación">
        <meta name="revisit-after" content="2 days">
        <link rel="stylesheet" href="./../css/estilos.css">
        <link rel="icon" type="image/png" href="./../favicon.png">
    </head>
    <body>
        <!--Comenzamos con Header, nuestra cabecera con el logo y nombre de la empresa-->
        <header>
            <img src="./../assets/img/logo.png" class="logo" width="94" height="123" alt="microorganismo logo de la empresa" title="Logo">
            <img src="./../assets/img/nombre_empresa.png" class="nombreEmpresa" width="315" height="118" alt="nombre empresa" title="TIC TAC Recursos educativos">
        </header>
        <!--Nuestro Menú o Barra de navegación-->
        <nav class="navegation">
            <ul class="navegationList">
                <li><a class="out" href="./../index.html">INICIO</a></li>
                <li><a class="out" href="./productos.html">PRODUCTOS</a></li>
                <li><a class="out" href="./presupuesto.html">PRESUPUESTO</a></li>
                <li><a class="inn" href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <!--Comenzamos nuestro Main. Consta de dos partes: La barra lateral y la sección con los datos de contacto de la empresa-->
        <main>
            <!--Nuestra Barra lateral con ranking de productos, Botón y Enlaces relacionados-->
            <aside>
                <h3>Recursos más solicitados</h3> 
                <ol class="asideSolicitados">
                    <li>Línea Protagonistas STEAM</li>
                    <li>Línea Juegos</li>
                    <li>Línea Te lo cuento</li>
                </ol>
                <a href="./presupuesto.html" class="asideBoton">Solicitar presupuesto</a>
                <h3>Enlaces de interés</h3>
                <ul class="asideEnlaces">
                    <li>
                        <a href="https://educagob.educacionyfp.gob.es/inicio.html" target="_blank">
                            <img src="./../assets/img/ministerioEducacion.jpg" width="167" height="167" alt="logo Ministerio educacion" title="Ministerio de educacion">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.educaciontrespuntocero.com/" target="_blank">
                            <img src="./../assets/img/logoEducacion30.png" width="200" height="40" alt="logo Educacion 3.0" title="Educacion 3.0">
                        </a>
                    </li>
                    <li>
                        <a href="https://educaixa.org/es/?utm_source=sc&utm_medium=cpc&utm_campaign=plan-editorial&utm_content=x&utm_term=660229&gad_source=1&gclid=EAIaIQobChMIooWG-6vpgwMVaIpoCR2kOAXOEAMYASAAEgKS7PD_BwE" target="_blank">
                            <img src="./../assets/img/logoEducaixa.png" width="151" height="64" alt="logo EduCaixa" title="EduCaixa">
                        </a>
                    </li>
                </ul>
            </aside>
            <!--Sección con los datos de contacto de la empresa-->
            <section class="galeria backgroundSections">
                <h1>Ven a conocernos:</h1>
                <div class="contacto">
                    <p><span class="bold">TIC TAC Recursos educativos</span><br>
                        Calle Narváez, Nº 60<br>
                        C.P. 28009 Madrid<br>
                        Teléfono: 91-728-28-56<br>
                        Teléfono móvil: 670-809-050
                    </p>
                    <img src="./../assets/img/mapa.png" width="770" height="397" alt="mapa Google de calle narvaez 60" title="direccion empresa">
                </div>
            </section>
        </main>
        <!--Footer-->
        <footer>
            <div class="redesSociales">
                <h3>Más inspiración en:</h3>
                <ul class="red">
                    <li>
                        <a href="https://es-es.facebook.com/login.php/" title="Facebook" target="_blank">
                            <img src="./../assets/img/facebook.png" width="56" height="56" alt="aplicacion facebook" title="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" title="Instagram" target="_blank">
                            <img src="./../assets/img/instagram.png" width="56" height="56" alt="aplicacion instagram" title="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es_LA" title="WhatsApp" target="_blank">
                            <img src="./../assets/img/whatsapp.png" width="60" height="60" alt="aplicacion whatsapp" title="WhatsApp">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="legales">
                <p>&copy; TIC TAC Recursos educativos Todos los derechos reservados</p>
                <p>Aviso Legal | Política de Cookies | Política de Privacidad</p>
                <p>Contáctanos:TIC TAC Recursos educativos<br>
                    Calle Narváez, Nº 60 Madrid<br>
                    Teléfono: 91-728 28 56<br>
                    Teléfono móvil: 670 80 90 50</p>
            </div>
        </footer>
    </body>
</html>