<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TIC TAC Recursos educativos</title>
        <meta name="description" content="Página de venta de recursos educativos para todos los niveles">
        <meta name="Author" content="Verónica Montero">
        <meta name="keywords" content="Recursos educativos, LOMLE, educación">
        <meta name="revisit-after" content="2 days">
        <link rel="stylesheet" href="./../css/estilos.css">
        <link rel="icon" type="image/png" href="./../favicon.png">
    </head>
    <body>
        <!--Comenzamos con Header, nuestra cabecera con el logo y nombre de la empresa-->
        <header>
            <img src="./../assets/img/logo.png" class="logo" width="94" height="123" alt="microorganismo logo de la empresa" title="Logo">
            <img src="./../assets/img/nombre_empresa.png" class="nombreEmpresa" width="315" height="118" alt="nombre empresa" title="TIC TAC Recursos educativos">
        </header>
        <!--Nuestro Menú o Barra de navegación-->
        <nav class="navegation">
            <ul class="navegationList">
                <li><a class="out" href="./../index.html">INICIO</a></li>
                <li><a class="inn" href="#">PRODUCTOS</a></li>
                <li><a class="out" href="./presupuesto.html">PRESUPUESTO</a></li>
                <li><a class="out" href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
        <!--Comenzamos nuestro Main. Consta de dos partes: La barra lateral y la parte donde está nuestra sección de muestra de productos-->
        <main>
            <!--Nuestra Barra lateral con ranking de productos, Botón y Enlaces relacionados-->
            <aside>
                <h3>Recursos más solicitados</h3> 
                <ol class="asideSolicitados">
                    <li>Línea Protagonistas STEAM</li>
                    <li>Línea Juegos</li>
                    <li>Línea Te lo cuento</li>
                </ol>
                <a href="./presupuesto.html" class="asideBoton">Solicitar presupuesto</a>
                <h3>Enlaces de interés</h3>
                <ul class="asideEnlaces">
                    <li>
                        <a href="https://educagob.educacionyfp.gob.es/inicio.html" target="_blank">
                            <img src="./../assets/img/ministerioEducacion.jpg" width="167" height="167" alt="logo Ministerio educacion" title="Ministerio de educacion">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.educaciontrespuntocero.com/" target="_blank">
                            <img src="./../assets/img/logoEducacion30.png" width="200" height="40" alt="logo Educacion 3.0" title="Educacion 3.0">
                        </a>
                    </li>
                    <li>
                        <a href="https://educaixa.org/es/?utm_source=sc&utm_medium=cpc&utm_campaign=plan-editorial&utm_content=x&utm_term=660229&gad_source=1&gclid=EAIaIQobChMIooWG-6vpgwMVaIpoCR2kOAXOEAMYASAAEgKS7PD_BwE" target="_blank">
                            <img src="./../assets/img/logoEducaixa.png" width="151" height="64" alt="logo EduCaixa" title="EduCaixa">
                        </a>
                    </li>
                </ul>
            </aside>
            <!--Tiene una sección con una galería que muestra nuestros productos-->
            <section class="galeria backgroundSections">
                <h1>Conoce parte de nuestros recursos:</h1>
                <div class="productos">
                    <div><img src="./../assets/img/protagonistasSTEAM.png" width="299" height="205" alt="Logo Protagomistas STEAM" title="Protagonistas STEAM"></div>
                    <div><img src="./../assets/img/galeria/steam_1.png" width="628" height="293" alt="Imagen de la portada de aplicación STEAM Power" title="Portada app Protagonistas STEAM"></div>
                    <div><img src="./../assets/img/galeria/steam_2.png" width="434" height="245" alt="Entrevista a Maria Sybilla" title="Entrevista Maria Sybilla"></div>
                    <div><img src="./../assets/img/galeria/steam_3.png" width="439" height="247" alt="Protagonistas diferentes" title="Indice de protagonistas"></div>
                    <div><img src="./../assets/img/galeria/steam_4.png" width="437" height="244" alt="Vídeo explicativo sobre Jane Goodall" title="Vida Jane Goodall"></div>
                    <div><img src="./../assets/img/galeria/tlc_0.png" width="615" height="450" alt="Logo Te lo cuento en un momento" title="Logo Te lo cuento en un momento"></div>
                    <div><img src="./../assets/img/galeria/tlc_1.png" width="436" height="241" alt="Índice de aplicación Te lo cuento en un momento" title="Diferentes vídeos TLC"></div>
                    <div><img src="./../assets/img/galeria/tlc_2.png" width="433" height="239" alt="Vídeo Te lo cuento en un momento" title="Video personaje Lupita"></div>
                    <div><img src="./../assets/img/galeria/tlc_3.png" width="430" height="238" alt="Animaciones diferentes" title="Índice de animaciones"></div>
                    <div><img src="./../assets/img/galeria/tlc_4.png" width="433" height="215" alt="Portada aplicación Te lo cuento en un momento" title="Portada de app Te lo cuento en un momento"></div>
                    <div><img src="./../assets/img/galeria/Juegos_0.png" width="465" height="259" alt="Portada Ultimate Traveller Egipto" title="Ultimate Traveller Egipto"></div>
                    <div><img src="./../assets/img/galeria/Juegos_1.png" width="440" height="246" alt="Portada Ultimate Traveller Biblioteca" title="Ultimate Traveller Biblioteca"></div>
                    <div><img src="./../assets/img/galeria/Juegos_2.png" width="433" height="241" alt="Juegos Ultimate Traveller" title="Índice de juegos"></div>
                    <div><img src="./../assets/img/galeria/Juegos_3.png" width="438" height="246" alt="Portada Ultimate Traveller Bosque" title="Ultimate Traveller Bosque"></div>
                    <div><img src="./../assets/img/galeria/Juegos_4.png" width="416" height="233" alt="Juego primaria en inglés" title="Juego primaria"></div>
                    <div><img src="./../assets/img/galeria/Imprimibles_0.png" width="522" height="350" alt="Logo Materiales imprimibles" title="Materiales imprimibles"></div>
                    <div><img src="./../assets/img/galeria/Imprimibles_1.png" width="366" height="469" alt="Poemas científicos" title="Poemas científicos"></div>
                    <div><img src="./../assets/img/galeria/Imprimibles_2.png" width="408" height="534" alt="Vidas científicas" title="Vidas científicas"></div>
                    <div><img src="./../assets/img/galeria/Imprimibles_3.png" width="393" height="265" alt="Juego imprimible Jane Goodall" title="Jane Goodall"></div>
                    <div><img src="./../assets/img/galeria/Imprimibles_4.png" width="428" height="295" alt="Escape room imprimible" title="Sherlock Holmes"></div>
                    <div><img src="./../assets/img/galeria/Varios_0.png" width="440" height="246" alt="Recurso sobre bioparque" title="Bioparque"></div>
                    <div><img src="./../assets/img/galeria/Varios_1.png" width="440" height="243" alt="recurso sobre el parque cretácico" title="Parque Cretácico"></div>
                    <div><img src="./../assets/img/galeria/Varios_2.png" width="476" height="724" alt="recurso sobre la digestión paso a paso" title="La digestión paso a paso"></div>
                    <div><img src="./../assets/img/galeria/Varios_3.png" width="419" height="235" alt="recurso sobre las enfermedades infecciosas" title="Tipos de infecciones"></div>
                    <div><img src="./../assets/img/galeria/Varios_4.png" width="442" height="246" alt="juego buscando al microorganismo culpable" title="El desafío"></div>
                </div>
            </section>
        </main>
        <!--Footer-->
        <footer>
            <div class="redesSociales">
                <h3>Más inspiración en:</h3>
                <ul class="red">
                    <li>
                        <a href="https://es-es.facebook.com/login.php/" title="Facebook" target="_blank">
                            <img src="./../assets/img/facebook.png" width="56" height="56" alt="aplicacion facebook" title="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" title="Instagram" target="_blank">
                            <img src="./../assets/img/instagram.png" width="56" height="56" alt="aplicacion instagram" title="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es_LA" title="WhatsApp" target="_blank">
                            <img src="./../assets/img/whatsapp.png" width="60" height="60" alt="aplicacion whatsapp" title="WhatsApp">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="legales">
                <p>&copy; TIC TAC Recursos educativos Todos los derechos reservados</p>
                <p>Aviso Legal | Política de Cookies | Política de Privacidad</p>
                <p>Contáctanos:TIC TAC Recursos educativos<br>
                    Calle Narváez, Nº 60 Madrid<br>
                    Teléfono: 91-728 28 56<br>
                    Teléfono móvil: 670 80 90 50</p>
            </div>
        </footer>
    </body>
</html>